@CHARSET "ISO-8859-1";

   <!--Clippath background-->
    .primary-background{
	 background:#eeeeee !important;
	 }
	  .featureleft-background{
	clip-path: polygon(0% 0%, 71% 0, 86% 50%, 75% 100%, 0% 100%);
	 }
	 .featureright-background{
	clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 13% 50%);
	 }
	 .banner-background-login{
	 clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 79% 97%, 50% 100%, 20% 92%, 0 100%, 0% 35%, 0 0);
	 }
	   .banner-background-index{
	  clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 81% 88%, 59% 87%, 29% 98%, 0 95%, 0% 35%, 0 0);
	 }
	 .banner-background-signup{
	  clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 79% 94%, 58% 100%, 21% 95%, 0 100%, 0% 35%, 0 0);
	 }
	 .banner-background-forgetdetails{
	 clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 79% 97%, 50% 100%, 20% 92%, 0 100%, 0% 35%, 0 0);
	 }
 